.startedWrapper {
    width: 100%;
    padding: 72px 80px 115px 72px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 160px;

    .titleBlock {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .mainTitle {
            font-size: 64px;
            line-height: 68px;
            font-weight: 400;
            margin: 0;
            span {
                color: #4C9DE8;
            }
        }
        .mainSubtitle {
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }

        .icons {
            display: flex;
            gap: 24px;
        }
    }
}

@media (max-width: 970px) {
    .startedWrapper {
        padding: 40px 16px;  
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        gap: 40px;

        .titleBlock {
            gap: 16px;

            .mainTitle {
                font-size: 40px;
                line-height: 40px;
            }
            .mainSubtitle {
                font-size: 18px;
                line-height: 24px;
            }
    
            .icons {
                gap: 16px;
            }
        }
    }
}